header{
width:100%;
top:0;
}
.navbar{
   display:flex;
   gap: 100px;
   padding: 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
body{
    padding-bottom:80px;   
}
main p{
    font-weight:bold;
    color: rgb(47, 47, 125);
    font-size: 50px;
    text-align: center;
}

footer{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-links a{
    color: white;
    text-decoration: none;
}
